[Unit]
Description=System API daemon
After=network.target syslog.target

[Service]
Type=simple
Environment=MALLOC_ARENA_MAX=2
Environment=MALLOC_TRIM_THRESHOLD_=131072
ExecStart=/usr/bin/sys-api-server --spring.config.location=file:/etc/application.properties
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
